img {
  height: 100px;
  width: 100px;
}

img:hover {
  transform: rotate(40deg); }
div {
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  z-index: -1;
}
/* div:hover {
  transform: skewY(30deg);  
  /* translate use for change position (top left) */
} */